/* Body */
html,
body * {
    font-family: ForoSans;
}

/* Font */
@font-face {
    font-family: ForoSans;
    src: url(font/ForoSans.otf);
}

/* Main */
.main {
    max-width: 1400px;
    margin: 0 auto;
}
.left-column {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}
.right-column {
    width: 50%;
    float: left;
    margin-bottom: 85px;
}

/* Name */
.name {
    font-size: 36px;
    display: block;
    margin: 14px auto;
    text-align: center;
}
.center-text {
    text-align: center;
}
.my-info a {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-info p {
    margin-top: 0;
}

/* Cards */
.card {
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    border: 2px solid white;
}
.container {
    padding: 0 16px;
}

/* Title */
.right-column .title {
    margin: 6px 0;
    padding: 0.01em 16px;
}
.left-column .title {
    margin: 6px 0;
}
.project-title {
    padding: 0.01em 16px;
}

/* Projects */
.project div {
    display: flex;
    align-items: center;
}
.project img {
    width: 100%;
    border-radius: 8px;
}

/* Work Experience */
.entelec-div {
    display: flex;
}
.entelec-div h5 {
    padding-right: 5px;
}

/* Extra */
.box-shadow {
    box-shadow: 0px 0px 10px 1px #e0e0e0;
}
.text-teal {
    color: teal;
}
.title {
    /* Title */
    font-size: 28px;
}
a:hover {
    cursor: pointer;
}

/* w3 Overwrite */
.w3-small,
.w3-teal {
    height: 18px;
}
.w3-dark-grey {
    background-color: #151515 !important;
}
.w3-dark-hr {
    height: 1px;
    background-color: #333333;
    border: none;
}

/* Footer */
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 8px;

    background-color: rgb(240, 255, 255);
}
.footer img {
    height: 60%;
    margin: 6px;
    opacity: 70%;
}

/* Dark Mode */
.dark-mode {
    background-color: rgb(10 10 10);
    color: lightgray;
}
.box-shadow-dark {
    border: 0 solid gray;
    box-shadow: 0 0 5px 2px #1a1a1a;
}

/* Interests Card */
#arrowIcon,
#projectsIcon {
    height: 22px;
}
#interests,
#projects {
    /* Initially hide the interests and projects elements */
    margin: 0;
    height: 0;
    opacity: 0;
    display: none;
}

/* Media */
@media screen and (max-width: 750px) {
    .left-column,
    .right-column {
        width: 100%;
        float: none;
    }
    .main {
        margin: 0 0 80 0;
    }
    .card {
        margin: 30px;
    }
    .project img {
        width: 100%;
    }
}
@media screen and (max-width: 1400px) {
    .name {
        font-size: 22px;
    }
    .profile-picture {
        width: 34%;
    }
    .project img {
        width: 100%;
    }
}
